/* COMMOM PROPERTIES */
html{
  font-size: 16px;
}
  
body{
  color:#323232;
  font-family: whitney-bookregular;
  line-height: 1.4;
  overflow-x: hidden;
}

a,
a.active,
a:active,
a:focus,
a:hover {
  outline:0;
  text-decoration: none;
  color: black;
}

h1 {
  font-family: whitney-semiboldregular;
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-family: whitney-semiboldregular;
  font-size: 1.5rem;
  line-height: 1;
}

h3 {
  font-family: whitney-mediumregular;
  font-size: 1.25rem;
  line-height: 1;
}
.content {
  align-items: center;
  display: flex;
  width: 100%;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

.button, 
.card {
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.16), 0 0.25rem 0.5rem rgba(0,0,0,0.24);
  transition: all 0.3s;
}

.button:hover, 
.card:hover {
  box-shadow: 0 0.8rem 1rem rgba(0,0,0,0.32), 0 0.5rem 0.5rem rgba(0,0,0,0.24);
  transform: translateZ(0.5rem);
  transition: all 0.3s;
}
/* end common */


/* HEADER */
header {
  align-items: center;
  background-color: #6cabe7;
  box-shadow: 0 0.125rem 0.375rem rgba(0,0,0,0.32);
  display: flex;
  height: 4rem;
  position: fixed;
  width: 100%;
  z-index: 8;
}

header .content {
  height: 100%;
  justify-content: space-between;
  padding: 0 1.5rem;
}

header #logo  {
  margin-left: -0.25rem;
}

header #logo a {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-family: 'Cabin', sans-serif; 
  font-size: 1.5rem;
}

header #logo img {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 2.25rem;
  margin-bottom: -0.25rem;
  padding: 0;
}

header #nameplate-primary {
  color: black;
  font-weight: 700;
}

header #nameplate-secondary {
  color: rgba(209,222,233,1);
}

header nav.desktop {
  margin-right: -0.5rem;
}

header nav {
  height: 100%;
}

header nav ul {
  display: flex;
  height: inherit;
}

header nav ul li {
  align-items: center;
  background-color: transparent;
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  height: inherit;
}

header nav ul li a {
  align-items: center;
  background-color: transparent;
  color: black;
  display: flex;
  height: inherit;
  padding: 0 0.5rem;
  transition: background-color 0.4s ease-in-out;
  transition: color 0.8s linear 0;  
}

header nav ul li a:hover {
  background-color: #296DC0;
  color: rgba(209,222,233,1);
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  header .desktop,
  header #logo {
    display: none;
  }

  header .mobile {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  header .mobile img {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 2.25rem;
    margin-bottom: -0.25rem;
    padding: 0;
  }
}
/* end header */


/* JUMBOTRON */
#jumbotron {
  align-items: center;
  background-color: rgba(124, 115, 105, 0.24);  
  display: flex;
  padding-top: 4rem; 
  width: 100%;
}

#jumbotron .content  {
  padding: 2rem 1.5rem;
}

#banner-image {
  display: flex;
  margin-right: 1rem;
  max-width: 60%;
}

#start-learning {
  display: flex;
  flex-direction: column;  
  max-height: 20rem;
  margin: 2rem 1rem;
  max-width: 30rem;
}

#learning-charge {
  display: flex;
  flex-wrap: wrap;  
  justify-content: flex-start;
}

#learning-charge .content {
  padding: 0;
}

#learning-charge div {
  color: rgba(209,222,233,1);;
  padding: 0.325rem 0.5rem;
}

#learning-charge .blue {
  background-color: #296DC0;
}

#learning-charge .yellow {
  color: black;
  background-color: #f1ab00;
}

#learning-charge .orange {
  background-color: #e86a10;
}

#learning-charge .logo-ghost {
  display: block;
  padding: 0.325rem 0;
}

#learning-charge .logo-ghost img {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 3.25rem;
  margin-bottom: -0.5rem;
  padding: 0;
}
#start-learning h1 {
  font-size: 2.75rem;  
}

#start-learning h2 {
    margin-top: 2rem;
}

#start-learning .button {
    background-color: #289728;
    border-radius: 0.25rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
    text-align: center;
}

#start-learning .button h3 {
  color: rgba(209,222,233,1);;
  width: 100%;
}

@media only screen and (min-width: 1025px) {
  #learning-charge h1 {
    font-size: 3.5rem
  }

  #learning-charge .logo-ghost img {
    height: 3.5rem;
    margin-bottom: -0.5rem;
  }
}

@media only screen and (max-width: 480px) {
  #jumbotron .desktop {
    display: none;
  }

  #jumbotron .main {
    flex-direction: column;
    padding: 0;
  }

  #banner-image {
    margin: 0;
    max-width: 100%;
  }

  #learning-charge h1 {
    font-size: 2.25rem
  }

  #learning-charge h2 {
    font-size: 1.5rem
  }

  #learning-charge div {
    color: rgba(209,222,233,1);;
    padding: 0.24rem;
  }

  #learning-charge .logo-ghost img {
    height: 2.5rem;
    margin-bottom: -0.5rem;
  }
}
/* end jumbotron */


/* FEATURE */
#feature {
  align-items: center;
  display: flex;
  width: 100%;
}

#feature .content  {
  align-items: flex-start;
  padding-left: 1.5rem;
}

#showcase {
  border-right: 2px solid rgba(124, 115, 105, 0.24);
  display: flex;
  flex-direction: column;  
  padding: 2rem 0;
  max-width: 60%;
}

#showcase h1 {
  padding-top: 2rem;
}

#showcase p {
  display: block;
  padding-top: 1.5rem;
}

#showcase .image-container {
  padding-right: 1.5rem;
}

#showcase-quote {
  font-family: Athelas-Italic;
  font-size: 1.25rem;
  line-height: 1.6;
  padding-right: 1.5rem;
}

#showcase-byline {
  font-family: whitney-mediumregular;
  margin-top: 1rem;
  padding-right: 1.5rem;
}

#feature-list {
  padding-top: 1rem;
  max-width: 40%;
  width: 100%;
}

#feature-list .feature-item {
  align-items: center;
  display: flex;
  width: 100%;
}

#feature-list .feature-item:last-child {
  background-color: rgba(124, 115, 105, 0.24);
}

#feature-list .feature-item:first-child {
  border-bottom: 2px solid rgba(124, 115, 105, 0.24);
}

#feature-list .feature-item .image-container {
  padding: 1rem;
  width: 35%;
}

#feature-list .feature-item .image-container img {
  height: auto;
}

.feature-info {
  width: 65%;
}

.feature-info p {
  display: block;
  padding-top: 0.5rem;
}

.feature-info .link a {
  color: #296DC0;
}

@media only screen and (max-width: 480px) {
  #feature .content  {
    padding: 1rem 1rem 2rem 1rem;
  }
  
  #feature .desktop {
    display: none;
  }
   
  #feature-list {
    padding: 0;
    max-width: 100%;
  }
  
  #feature-list .feature-item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    width: inherit;
  }
  
  #feature-list .feature-item:last-child {
    background-color: transparent;
    margin-bottom: 0;
  }
  
  #feature-list .feature-item:first-child {
    border: none;
  }
  
  #feature-list .feature-item .image-container {
    padding: 0;
    width: inherit;
  }
  
  #feature-img-orientation {
    content: url("../images/information-orientation-mobile.jpg");
  }

  #feature-img-campus {
    content: url("../images/information-campus-mobile.jpg");
  }

  #feature-img-guest-lecture {
    content: url("../images/information-guest-lecture-mobile.jpg");
  }

  .feature-info {
    margin: 1.5rem 1rem 0 1rem;
    max-width: fit-content;
    width: inherit;
  }
}
/* end feature */


/* CATALOG */
#catalog {
  align-items: center;
  background-color: rgba(124, 115, 105, 0.24);
  flex-direction: column;
  display: flex;
}

#catalog .title  {
  align-items: center;
  padding-top: 2rem;
}

#catalog .content  {
  justify-content: center;
  margin: 1rem 0;
  flex-direction: column;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 3.5rem;
}

.course-list .course-item {
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 29.5%;
}

.course-list .course-item .image-container {
  width: 100%;
}

.course-list .course-item .image-container img {
  height: auto;
  width: 100%;
}

.course-info {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-info p {
  display: block;
  padding-top: 0.5rem;
}

@media only screen and (max-width: 480px) {
  #catalog .desktop {
    display: none;
  }
  
  #catalog {
    background-color: transparent;
    border-top: 2px solid rgba(124, 115, 105, 0.24);
  }
  
  #catalog .title h1 {
    font-size: 2rem;
  }
  
  #catalog .content  {
    margin: 0;
   }
  
  .course-list {
    padding: 1rem 1rem 2rem 1rem;
    margin: 0;
  }
  
  .course-list .course-item {
    background-color: rgba(124, 115, 105, 0.24);
    margin: 0 0 0.5rem 0;
    max-width: 100%;
    width: 100%;
  }
  
  .course-list .course-item:last-child {
    margin: 0;
  }
}
/* end catalog */


/* EXHIBIT */
#exhibit {
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
}

#exhibit .title  {
  align-items: center;
  padding-top: 2rem;
}

#exhibit .content  {
  align-items: flex-start;
  padding-left: 3rem;
}

#exhibit-highlight {
  display: flex;
  flex-direction: column;  
  padding: 2rem 0;
  max-width: 60%;
}

#exhibit-highlight h2 {
  padding-top: 1.5rem;
}

#exhibit-highlight p {
  display: block;
  padding-top: 0.5rem;
}

#exhibit-highlight .image-container {
  margin-right: 1.5rem;
}

#exhibit-highlight .image-container video {
  display: block;
}

#exhibit-highlight-quote {
  font-family: Athelas-Italic;
  font-size: 1.25rem;
  line-height: 1.6;
  padding-right: 1.5rem;
}

#exhibit-list {
  padding-top: 2rem;
  max-width: 40%;
  width: 100%;
}

#exhibit-list .exhibit-item {
  align-items: center;
  display: flex;
  width: 100%;
}

#exhibit-list .exhibit-item:first-child {
  background-color: rgba(124, 115, 105, 0.24);
}

#exhibit-list .exhibit-item .image-container {
  padding: 1rem;
  width: 35%;
}

#exhibit-list .exhibit-item .image-container img {
  height: auto;
}

.exhibit-info {
  width: 65%;
}

.exhibit-info p {
  display: block;
  padding-top: 0.5rem;
}

@media only screen and (max-width: 480px) {
  #exhibit .desktop {
    display: none;
  }
  
  #exhibit {
    border-top: 2px solid rgba(124, 115, 105, 0.24);
  }

  #exhibit .title  {
    align-items: center;
    padding-top: 2rem;
  }
  
  #exhibit .title h1 {
    font-size: 2rem;
  }
  
  #exhibit .title h1:after {
    content: "s";
  }

  #exhibit .content  {
    padding: 0;
  }
 
  #exhibit-highlight {
    padding: 1rem 0 1.5rem 0;
    max-width: 100%;
  }
    
  #exhibit-highlight .image-container {
    margin: 0;
  }
}
/* end exhibit */


/* FOOTER */
footer {
  align-items: center;
  background-color: #296DC0;
  border-top: 2px solid rgba(124, 115, 105, 0.48);
  color: rgba(209,222,233,1);
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

footer a {
  color: rgba(209,222,233,1);
}

footer #copyright {
  flex-grow: 1;
}

footer nav ul {
  display: flex;
}

footer nav ul li {
  padding-left: 1rem;
  font-size: 0.75rem;
}

@media only screen and (max-width: 480px) {
  footer {
    padding: 1rem;
    font-size: .75rem;
  }
    
  footer .desktop {
    display: none;
  }
}
/* end footer */